<div class="isamap isamap-fullsize xingumais" @click="hideControls">
  <div v-if="$apollo.loading" class="middle">
    <span>
      <img src="https://mapa.eco.br/images/misc/loading.gif" />
    </span>
  </div>
</div>
