    <link href="/dist/v1/css/map.css" rel="stylesheet" />

    <link href="/dist/v<!--#echo var="version" -->/css/jquery.isamap.css" rel="stylesheet" />

    <!--#if expr='v("develop") = "true"'-->
      <script src="/dist/v<!--#echo var="version" -->/js/jquery.isamap.js"></script>
    <!--#else-->
      <script src="/dist/v<!--#echo var="version" -->/js/jquery.isamap.min.js"></script>
    <!--#endif-->
