    <!-- Load Leaflet from CDN-->
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha384-eS4bw6aEvhCSXWGP85ANR/N8isWKzT7P36NvcuTJGkrj6wsbxLVpXslrNXYHyseD"
          crossorigin="">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha384-bmPowDlt+owc6Mn3LwOzLPkYiVm6MuKeLMe0qN2pp7Fhmux2xtVJm5e+ekpCVv4x"
            crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.3.0/dist/esri-leaflet.js"
            integrity="sha384-+dzMJvw/HNQ83KXUZqrxSPt9elRJVNsxd7Z6bQsgYEUntyxla3R7kId1NPck2Ofr"
            crossorigin=""></script>

    <!-- Leaflet.MousePosition -->
    <link rel="stylesheet" href="/vendor/Leaflet.MousePosition/src/L.Control.MousePosition.css" />
    <script src="/vendor/Leaflet.MousePosition/src/L.Control.MousePosition.js"></script>

    <!-- Leaflet.StyledLayerControl -->
    <link rel="stylesheet" href="/vendor/Leaflet.StyledLayerControl/css/styledLayerControl.css" />
    <script src="/vendor/Leaflet.StyledLayerControl/src/styledLayerControl.js"></script>

    <!-- leaflet-omnivore -->
    <!--<script src="/vendor/leaflet-omnivore/leaflet-omnivore.min.js"></script>-->
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js"></script>

    <!-- Leaflet.markercluster -->
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
          integrity="sha384-lPzjPsFQL6te2x+VxmV6q1DpRxpRk0tmnl2cpwAO5y04ESyc752tnEWPKDfl1olr"
          crossorigin="">
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
          integrity="sha384-5kMSQJ6S4Qj5i09mtMNrWpSi8iXw230pKU76xTmrpezGnNJQzj0NzXjQLLg+jE7k"
          crossorigin="">
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"
            integrity="sha384-RLIyj5q1b5XJTn0tqUhucRZe40nFTocRP91R/NkRJHwAe4XxnTV77FXy/vGLiec2"
            crossorigin=""></script>

    <!-- ESRI Clustered Feature Layer -->
    <script src="https://unpkg.com/esri-leaflet-cluster@2.0.0/dist/esri-leaflet-cluster.js"
            integrity="sha384-BBDaKOopFCTCg+FadggGtX+wt6WG4Ocrj/8C+JYKHH46JNWrSj4S2dEy9jDLud/P"
            crossorigin=""></script>

    <!-- Include Leaflet.heat -->
    <script src="/vendor/Leaflet.heat/dist/leaflet-heat.js"></script>

    <!-- Load Heatmap Feature Layer from CDN -->
    <script src="https://unpkg.com/esri-leaflet-heatmap@2.0.0/dist/esri-leaflet-heatmap.js"
            integrity="sha384-705r+R8zIzf0Hv8In+VsKNdgFebbrxnhHBsItHjwTnnMwj59OzSEdkXVdGIMVCH3"
            crossorigin="anonymous"></script>

    <!-- Fullscreen control -->
    <script src="/vendor/Leaflet.fullscreen/dist/Leaflet.fullscreen.min.js"></script>
    <link href="/vendor/Leaflet.fullscreen/dist/leaflet.fullscreen.css" rel="stylesheet" />

    <!-- SmallWidget -->
    <script src="/vendor/Leaflet.SmallWidget/L.Control.SmallWidget.js"></script>
    <link href="/vendor/Leaflet.SmallWidget/L.Control.SmallWidget.css" rel="stylesheet" />

    <!-- Legend control -->
    <script src="/vendor/Leaflet.HtmlLegend/L.Control.HtmlLegend.js"></script>

    <!-- FileLayer -->
    <script src="/vendor/Leaflet.FileLayer/src/leaflet.filelayer.js"></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <!--
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"
                           integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
                           crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js"
            integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ=="
            crossorigin=""></script>
    -->

    <!-- Leaflet draw -->
    <!--
    <link rel="stylesheet" href="/vendor/npm/leaflet-draw/dist/leaflet.draw.css">
    <script src="/vendor/npm/leaflet-draw/dist/leaflet.draw.js"></script>
    -->

    <!-- Technical note -->
    <script src="/dist/v1/js/Leaflet.TechnicalNote.min.js"></script>
