    <!-- Vuejs, for development -->
    <!--#if expr='v("develop") = "true"'-->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"
            integrity="sha384-9u9lzb/hr8e14GLHe5TEOrTiH3Qtw5DX2Zw9X/g7cqj81W2McEMx5CKOszxdb8jg"
            crossorigin=""></script>
    <!--#else-->

    <!-- Vuejs Minified, for production -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"
            integrity="sha384-8t+aLluUVnn5SPPG/NbeZCH6TWIvaXIm/gDbutRvtEeElzxxWaZN+G/ZIEdI/f+y"
            crossorigin=""></script>
    <!--#endif-->

    <!-- Vuejs i18n -->
    <script src="https://unpkg.com/vue-i18n@8.12.0/dist/vue-i18n.min.js"
            integrity="sha384-ic5CVdylN/4xmtjKljgYFpwpJ2IzYKuF/I3DzxD8kuIMt1ogd8+EgGGOZzqIb7Vx"
            crossorigin=""></script>
