<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Mapa Socioambiental - Sobre</title>
    <!--#include virtual="/templates/header/pages.html"-->
  </head>
  <body>
    <!--#include virtual="/templates/navigation.html"-->

    <div class="container-fluid" id="note" v-cloak>
      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <h1><span>{{ $t('technical_note') }}</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <h2>{{ $t('index') }}</h2>

          <ul v-for="item in items">
            <li><a v-bind:href="'#' + item.title">{{ item.title }}</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="legend-block" v-for="item in items">
            <h2 class="closed">
              <span>
                <a v-bind:name="item.title">
                  {{ item.title }}
                </a>
              </span>
            </h2>

            <div class="legend-elements closed">
              <p><strong>{{ $t('source') }}</strong>:      <span v-html="item.source"     ></p>
              <p><strong>{{ $t('scale') }}</strong>:       <span v-html="item.scale"      ></p>
              <p><strong>{{ $t('date') }}</strong>:        <span v-html="item.date"       ></p>
              <p><strong>{{ $t('description') }}</strong>: <span v-html="item.description"></p>
            </div>
          </div>
      </div>
    </div>

    <script src="/dist/v2/js/notes.js"></script>
    <!--#include virtual="/templates/footer.html"-->
  </body>
</html>
