<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Mapa Socioambiental - Exemplos</title>
    <!--#include virtual="/templates/header/pages.html"-->
  </head>

  <body>
    <!--#include virtual="/templates/navigation.html"-->

    <div class="container-fluid" id="examples" v-cloak>
      <div class="row">
        <div class="col">
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="jumbotron">
            <h1 class="display-3">{{ $t('isamap') }} - {{ $t('examples') }}</h1>
            <p class="lead">{{ $t('ready_to_use') }}</p>
            <hr class="my-4">
            <p v-html="$t('developed_by')"></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-xs-12 col-md-6 col-lg-6">
          <h4>{{ $t('deforestation_accumulated') }} - {{ $t('amlegal') }} - 2016</h4>

          <iframe v-bind:src="'https://mapa.eco.br/v1/?lang=' + locale + '&layers[]=tis.limits&layers[]=ucs.ucsEstaduais&layers[]=ucs.ucsFederais&layers[]=jurisdicao.amlegal&layers[]=desmatamento.17&baseLayer=base.satellite&center[]=-6.282538526926375&center[]=-54.95361328125001&zoom=6&minZoom=5&maxZoom=15'" height="300px" width="100%" allowfullscreen frameborder="0"
            sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-modals"></iframe>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
          <h4>{{ $t('fire') }}</h4>

          <iframe v-bind:src="'https://mapa.eco.br/v1/?lang=' + locale + '&layers[]=ucs.ucsEstaduais&layers[]=ucs.ucsFederais&layers[]=jurisdicao.amlegal&layers[]=queimadas.focosDensidade&layers[]=queimadas.focos&baseLayer=base.satellite&center[]=-12.297068292853805&center[]=-56.00830078125&zoom=5&minZoom=5&maxZoom=15'" height="300px" width="100%" allowfullscreen frameborder="0"
            sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-modals"></iframe>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
          <h4>{{ $t('tis.faixa_fronteira') }}</h4>

          <iframe v-bind:src="'https://mapa.eco.br/v1/?lang=' + locale + '&layers[]=jurisdicao.amlegal&layers[]=tis.faixa_fronteira.Sim&baseLayer=base.topographic&center[]=-11.824341483849048&center[]=-55.546875&zoom=5&minZoom=5&maxZoom=15'" height="300px" width="100%" allowfullscreen frameborder="0"
            sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-modals"></iframe>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6">
          <h4><a href="https://www.socioambiental.org/' + locale + '/tags/reserva-nacional-do-cobre-e-associados-renca">RENCA</a></h4>

          <iframe v-bind:src="'https://mapa.eco.br/v1/?lang=' + locale + '&arps[]=605&arps[]=627&arps[]=637&arps[]=1350&arps[]=3226&arps[]=3849&arps[]=3901&arps[]=4639&arps[]=4642&layers[]=ucs.ucsEstaduais&layers[]=ucs.ucsFederais&layers[]=jurisdicao.amlegal&layers[]=infra.mineracao&baseLayer=base.topographic&center[]=1.082088987706367&center[]=-52.5091552734375&zoom=8&minZoom=5&maxZoom=15'" height="300px" width="100%" allowfullscreen frameborder="0"
           sandbox="allow-same-origin allow-scripts allow-popups allow-forms allow-modals"></iframe>
        </div>
      </div>

      <!-- Basic embed -->
      <!--
      <link rel="stylesheet" href="https://mapa.eco.br/dist/v2/css/embed.css" />
      <div class="isa-map-container">
      <iframe  class="embed-responsive" src="https://mapa.eco.br/v1" allowfullscreen frameborder="0">
      </div>
      -->

      <!-- Pym embed, classic -->
      <!--
      <div id="map"></div>
      <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
      <script>var pymParent = new pym.Parent('map', 'https://mapa.eco.br/v1', {});</script>
      -->

      <!-- Pym embed -->
      <!--
      <div data-pym-src="https://mapa.eco.br/v1" data-pym-allowfullscreen>Loading</div>
      <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
      -->
    </div>

    <script src="/dist/v2/js/examples.js"></script>
    <!--#include virtual="/templates/footer.html"-->
  </body>
</html>
