/**
 * Technical Note
 */
/*
a.leaflet-control-techical-note-toggle {
  border-bottom: initial;
}
*/

.leaflet-technical-note.closed {
  width: 28px;
  height: 17px;
  overflow: hidden;
}

.leaflet-technical-note.closed {
  width: 28px;
  height: 24px;
}

/*
.leaflet-small-widget.closed, .leaflet-technical-note.closed {
  width: 25px;
  height: 25px;
}

.legend-title.closed, .legend-block h4.closed {
  visibility: hidden;
  display: none;
}
*/
