<div v-bind:class="containerClass" v-cloak>
  <a v-bind:class="controlClass">
    <i v-bind:class="iconClass" v-on:click="toggleControl"></i>
  </a>
  <i class="fa fa-window-close" aria-hidden="true" v-on:click="toggleControl"></i>

  <h3 v-bind:class="titleClass"><span>{{ $t('technical_note') }}</span></h3>

  <div class="legend-block" v-for="item in items">
    <h4 class="closed">
      <div class="legend-caret" v-on:click="toggleItem"></div>
      <span v-on:click="toggleItem">{{ item.title }}</span>
    </h4>

    <div class="legend-elements closed">
      <p><strong>{{ $t('source') }}</strong>:      <span v-html="item.source"     ></span></p>
      <p><strong>{{ $t('scale') }}</strong>:       <span v-html="item.scale"      ></span></p>
      <p><strong>{{ $t('date') }}</strong>:        <span v-html="item.date"       ></span></p>
      <p><strong>{{ $t('description') }}</strong>: <span v-html="item.description"></span></p>
    </div>
  </div>

  <!--
    <div class="legend-block">
    <span><a v-bind:href="pageUrl">{{ $t('fullscreen') }}</a></span>
    </div>
  -->
</div>
