<section id="mapTools" v-bind:class="sectionClass">
  <a id="mapToolsToggle" v-on:click="toggleControl"></a>
  <ul id="mapToolsMenu">
    <li data-target-selector=".geocoder-control.leaflet-control" class="search toolsTarget">
      <a id="mapToolsSearch" v-on:click="toggleItem">Busca</a>
    </li>
    <li data-target-selector="#downloadMapModal" class="print toolsTarget">
      <a id="downloadMapButton" href="#" v-on:click="toggleItem">salvar/imprimir</a>
      <div id="downloadMapModal">
        <div class="simpleModalInner">
          <h3>Imprimir Mapa</h3>
          <main>
          <form id="mapPrintForm" action="">
            <label for="mapPrintName">Nome do mapa: </label>
            <input id="mapPrintName" name="mapPrintName" type="text"   size="60">
            <input id="mapPrintSubmit"                   type="submit" value="Imprimir" v-on:click="printMap"/>
          </form>
          </main>
        </div>
      </div>
    </li>
    <li v-if="name != 'degradacao'" data-target-selector="#mapInfo" class="legend toolsTarget">
      <a v-on:click="toggleItem">Legendas</a>
      <section id="mapInfo" class="box-scroll">
        <h5>Legendas</h5>
        <div id="mapIcons">
          <ul class="legendIcon">
            <li class="legendIconPort"><span>Porto</span></li>
            <li class="legendIconUHE"><span>UHE</span></li>
            <li class="legendIconMine"><span>Mineração</span></li>
            <li class="legendIconPCH"><span>PCH</span></li>
            <li class="legendIconRoad"><span>Rodovia</span></li>
            <li class="legendIconRail"><span>Ferrovia</span></li>
            <li class="legendIconLine"><span>Linha de Transmissão</span></li>
          </ul>
        </div>
        <div id="mapWarnings">
          <h6>Grau de Alerta</h6>
          <ul class="legendColor">
            <li class="legendColorMedium"><span>Médio</span></li>
            <li class="legendColorHigh"><span>Alto</span></li>
            <li class="legendColorHigher"><span>Muito Alto</span></li>
          </ul>
        </div>
        <div id="mapZones">
          <h6>Áreas</h6>
          <ul class="legendColor">
            <li class="legendColorFederal"><span>UC Federal</span></li>
            <li class="legendColorIndigenous"><span>T. Indígena</span></li>
            <li class="legendColorState"><span>UC Estadual</span></li>
          </ul>
        </div>
        <div v-if="name == 'conflitos'"  id="mapConflicts">
          <h6>Conflitos</h6>
          <ul class="legendIcon">
            <li class="legendIconTerritorial"><span>Territoriais</span></li>
            <li class="legendIconNatural"><span>Recursos Naturais</span></li>
            <li class="legendIconValues"><span>Valores e modo de vida</span></li>
          </ul>
        </div>
        <a href="#" id="closeMapInfo" class='closeMapSubmenu'>Fechar</a>
      </section>
    </li>
    <li v-if="name == 'degradacao'" data-target-selector="#subTools" class="tools toolsTarget">
      <a v-on:click="toggleItem">Ferramentas</a>
      <ul id="subTools">
        <div id="mapDraw">
          <li id='polyline'>
            <span>Linha</span>
            <div class='drawButtonsSubActions'></div>
          </li>
          <li id='circle'>
            <span>Círculo</span>
            <div class='drawButtonsSubActions'></div>
          </li>
          <li id='polygon'>
            <span>Polígono</span>
            <div class='drawButtonsSubActions'></div>
          </li>
        </div>
      </ul>
    </li>
    <li data-target-selector="#tab-complaint" class="alert toolsTarget">
      <a v-on:click="toggleItem">Alerte</a>
      <div id="tab-complaint">
        <span id="complaint-marker-btn">
          <i id="complaint-draw" class="fa fa-exclamation-triangle fa-stack-1x fa-inverse tooltipstered">
            <img id="tabComplaintIcon" src="/images/custom/xingumais/icons/alert-sign.png" />
          </i>
        </span>
        <p class="action text">Clique no botão para marcar uma posição, preencha os dados e envie o seu alerta.</p>
        <div class="action icons">
        </div>
        <form action="#" method="post" id="complaint-form">
          <div class="fields complaint">
            <label for="alert-title">
              <span>Nome do alerta</span>
              <input type="text" id="title" name="alert-title" tabindex="9" required title="Título do alerta (seja breve)" />
            </label>
            <label for="alert-description">
              <span>Descrição</span>
              <textarea id="description" name="alert-description" rows="5" tabindex="10" required title="Descrição detalhada do alerta" ></textarea>
            </label>
          </div>
          <div class="fields submit">
            <input type="hidden" id="marker"  name="marker" value="" />
            <input type="submit" id="csubmit"               value="Enviar alerta" tabindex="12" title="Registre um alerta">
          </div>
        </form>
      </div>
    </li>
    <li data-target-selector="#tab-alert" class="follow toolsTarget">
      <a v-on:click="toggleItem">Acompanhe</a>
      <div id="tab-alert">
        <p class="action text">Pesquise UCs, TIs ou Municípios ou desenhe uma área, preencha os dados e receba informações sobre a área escolhida.</p>
        <div class="action icons">
          <span id="alert-search-btn" class="fa-stack fa-lg" tabindex="1" title="Pesquisar UCs, TIs ou municípios">
            <img id="alert-search" src="/images/custom/xingumais/icons/search.png" />
          </span>
          <span id="alert-draw-btn" class="fa-stack fa-lg" tabindex="1" title="Desenhar área">
            <img id="alert-draw" src="/images/custom/xingumais/icons/resize.png" />
          </span>
        </div>
        <p class="action area">
        <strong>Área:</strong> <span class="area_name">pesquise ou desenhe uma área...</span><br />
        <strong>Coord.:</strong> <span class="area_coord">aguardando pesquisa ou desenho...</span>
        </p>
        <form action="#" method="get" id="alert-form">
          <label for="alert_description">
            <span>Nome do acompanhamento</span>
            <input type="text" id="alert_description" name="alert_description" tabindex="1" required title="Informe o nome para o seu acompanhamento" />
          </label>
          <fieldset class="fields name">
            <label for="firstname">
              <span>Nome</span>
              <input type="text" id="firstname" name="firstname" tabindex="2" required title="Informe seu nome" />
            </label>
            <label for="lastname">
              <span>Sobrenome</span>
              <input type="text" id="lastname" name="lastname" tabindex="3" title="Informe seu sobrenome (opcional)" />
            </label>
          </fieldset>
          <label for="email">
            <span>Email</span>
            <input type="email" id="email" name="email" tabindex="4" required title="Informe seu email" />
          </label>
          <fieldset id="follow-form-options" class="fields alerts">
            <h5>Opções de acompanhamento*</h5>
            <label for="fire" id="fire-label" tabindex="5" title="Receber DIARIAMENTE alertas sobre focos de calor">
              <input type="checkbox" id="fire" name="fire" value="1" />
              <span>Focos de Calor</span>
            </label>
            <label for="deforest" id="deforest-label" tabindex="6" title="Receber MENSALMENTE alertas de desmatamento">
              <input type="checkbox" id="deforest" name="deforest" value="2" />
              <span>Desmatamento</span>
            </label>
          </fieldset>
          <fieldset class="fields submit">
            <input type="hidden" id="geo_name" name="geo_name" value="" />
            <input type="hidden" id="arp_id"   name="arp_id"   value="" />
            <input type="hidden" id="bb_ne"    name="bb_ne"    value="" />
            <input type="hidden" id="bb_sw"    name="bb_sw"    value="" />
            <input type="submit" id="asubmit"                  value="Enviar" tabindex="7" title="Clique para assinar o acompanhamento" />
          </fieldset>
        </form>
      </div>
    </li>
  </ul>
</section>
<!--<div id='mapImport' class='mapImport'></div>-->
