<div class="leaflet-control" v-cloak>
  <a v-bind:href="options.href" target="_blank" v-bind:style="style"><img v-bind:src="options.logo"></a>
  <span>|</span>
  <a v-bind:href="options.aboutHref" target="_blank">{{ $t('about') }}</a>
</div>
