<div v-bind:class="containerClass" v-cloak>
  <a v-bind:class="controlClass">
    <i v-bind:class="iconClass" v-on:click="toggleControl"></i>
  </a>
  <i class="fa fa-window-close" aria-hidden="true" v-on:click="toggleControl"></i>

  <h3 class="small-widget-caption"><span>{{ $t('search') }}</span></h3>

  <i class="fa fa-trash-o" v-on:click="clearSelection"></i>

  <select class="chosen-select" v-bind:id="selectId" name="leaflet-arp-selection" multiple="" v-bind:data-placeholder="$t('search_categories')">
    <optgroup v-for="group in groups" v-bind:label="$t(group.label)">
      <option v-for="item in group.items" v-bind:value="item.id" v-if="group.translate == true"  v-bind:selected="isSelected(item)">{{ $t(item.caption) }}{{ item.length }}</option>
      <option v-for="item in group.items" v-bind:value="item.id" v-if="group.translate == false" v-bind:selected="isSelected(item)">{{ item.caption }}{{ item.length }}</option>
    </optgroup>
  </select>
</div>
