/**
 * Search
 */

#map_leaflet_arp_selection_chosen.chosen-container .chosen-drop {
  position: inherit;
}

.leaflet-search-control {
  width: 350px;
  max-height: 500px;
}

.leaflet-search-control .fa-trash-o {
  float: right;
  margin-right: 25px;
  font-size: 18px;
  margin-top: -30px;
}
