%form
  label
    width: 100%
    
    span
      text-transform: uppercase
      display: block
  
  input, textarea
    width: 100%
    background: none
    border-top: none
    border-right: none
    border-left: none
    border-bottom: 1px solid $colorRed
