@import "variables.scss"
@import "colors"
@import "form"

#mapTools
  right: 5rem
  bottom: 5rem
  z-index: 400
  position: fixed

  @media (max-width: $screen-sm-min)
    visibility: hidden

  img
    max-width: 100%

#mapImport
  position: fixed
  right: 1rem
  bottom: 15.5rem
  width: auto
  z-index: 400

  a.leaflet-control-filelayer
    background-color: white
    border-radius: 50%
    width: 4rem
    height: 4rem
    display: block

  @media (min-width: $screen-sm-min)
    bottom: 9.5rem
    right: 1.5rem

#mapDraw
  > li
    width: 100%
    height: 2em
    text-indent: 4rem

    ul
      text-indent: 0

    span
      background-image: url("/images/custom/xingumais/icons/spritesheet-2x.png")
      background-position: left
      background-repeat: no-repeat
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: 3em
      z-index: 10

    &#polyline span
      background-position: -10px

    &#polygon span
      background-position: -70px

    &#circle span
      background-position: -190px

  .drawButtonsSubActions
    position: absolute
    bottom: 100%
    left: 50%
    transform: translateX(-50%)
    width: auto
    justify-content: space-around
    align-items: center
    display: flex
    z-index: 10
    background-color: $colorMediumGray
    color: white

    ul
      position: static

      a
        background-color: transparent
        text-decoration: underline

        &:hover
          background-color: transparent

    li
      padding: 0
      width: auto

#followMap,
#alertMap
  padding-top: 2rem
  background-color: url("/images/custom/xingumais/icons/acompanhe-simple.svg")
  background-size: contain
  background-position: top
  background-repeat: no-repeat

.leaflet-draw.leaflet-control
  visibility: hidden

.leaflet-control-filelayer.leaflet-control-zoom.leaflet-file.leaflet-bar.leaflet-control
  display: none

#mapPrintForm > *
  display: block
  margin-left: 0
  margin-bottom: 1rem

#mapPrintSubmit
  width: 100%

#downloadMapModal,
#tab-complaint,
#tab-alert,
#subTools,
.subTools-mobile
  color: $colorText
  position: absolute
  right: 110%
  bottom: 0
  background: white
  width: 300px
  border-radius: 1rem
  text-align: left
  display: none
  padding: 0.8rem
  list-style: none

  &.active
    display: block

  p, span
    font-size: 0.73rem

  img
    max-width: 100%

  h3
    font-size: 1.2rem

  h5
    font-size: 0.7rem
    margin: 1rem 0 0 0

  li
    position: relative
    padding-left: 4rem
    margin-bottom: .5rem

  form
    @extend %form

  fieldset
    border: 0
    margin-left: -10px

  fieldset.submit
    margin-bottom: 10px

#tab-complaint,
#tab-alert
  @media (max-width: $screen-sm-min)
    position: fixed
    display: none
    right: 1rem
    bottom: 8rem
    visibility: visible

    &.active
      display: block

div.geocoder-control.geocoder-control-expanded.leaflet-control
  @media (max-width: $screen-sm-min)
    display: none
    visibility: visible
    margin: 0
    position: fixed
    bottom: 29rem
    right: 2rem

    &.active
      display: block

    input.geocoder-control-input
      display: block

div.geocoder-control.leaflet-control
    @media (min-width: $screen-sm-min)
      margin-right: 21rem

div.geocoder-control.leaflet-control
  @media (min-width: $screen-sm-min)
    display: none
    position: fixed
    right: 14.6rem
    bottom: 24.1rem
    width: 30rem
    margin: 0

    &.active
      display: block

    &::before
      content: ''
      position: absolute
      right: 3rem
      bottom: -0.1rem
      left: 2rem
      height: 2px
      background-color: $colorHeaderDarkGray
      z-index: 1

    input
      border: none
      border-top-left-radius: 1.5rem
      border-bottom-left-radius: 1.5rem
      padding-left: 1.5rem
      height: 38px

      &::placeholder
        color: white

  @media (max-width: $screen-sm-min)
    .geocoder-control-input
      display: none

.subTools-mobile
  right: 15px
  bottom: 120%
  max-height: 80vh
  overflow-y: auto
  display: none

  .mapSearch
    position: relative
    width: 100%
    padding: 10px
    padding-left: 3rem
    margin-bottom: 20px
    border: 1px solid #efefef

  .mapSearch::before
    content: ''
    width: 1rem
    height: 1rem
    left: 1rem
    top: 50%
    transform: translateY(-50%)
    display: block
    position: absolute
    background: url('/images/custom/xingumais/icons/search.png')
    background-size: contain
    background-position: center
    background-repeat: no-repeat

  #mapDraw > li
    margin-bottom: 10px
    padding-left: 3rem
    > span 
      width: 40px
      text-indent: 3rem
      font-size: 1rem
      padding-top: 8px
    
#tab-alert
  padding-bottom: 0

#complaint-marker-btn
  width: 30%
  font-size: 0
  float: left

  + p.action.text
    width: 70%
    float: left
    padding-left: 1rem
    box-sizing: border-box
    text-transform: uppercase
    font-size: 0.7rem

#complaint-form
  @extend %form
  clear: both
  padding-top: 2rem

#follow-form
  @extend %form

#follow-form-options
  label
    display: flex

    input
      width: auto

#fire-label, #deforest-label
  margin: .5rem 0
  display: flex
  align-items: center

  input
    margin-right: .5rem

#mapToolsToggle
  width: 5rem
  height: 5rem
  cursor: pointer
  display: block
  background-image: url('/images/custom/xingumais/icons/plus.png')
  background-size: contain
  background-position: center

  &.active
    background-image: url('/images/custom/xingumais/icons/close.png')

#mapToolsMenu
  position: absolute
  right: 1rem
  bottom: 5rem
  list-style: none
  text-align: right
  text-transform: uppercase
  visibility: hidden
  
  &.active
    visibility: visible

  > li
    background-color: $colorHeaderDarkGray
    margin: 0.6rem 0 0 0
    border-radius: 1rem
    color: white
    padding: 0.5rem 3rem 0.8rem 0.8rem
    position: relative
    font-size: 0.73rem
    cursor: pointer

    a
      color: inherit

    &::before
      position: absolute
      top: 0
      right: 50%
      bottom: 0
      left: -3rem
      background: white
      z-index: -1

    &::after
      content: ''
      width: 1.5rem
      height: 1.5rem
      position: absolute
      right: 1rem
      top: 50%
      transform: translateY(-50%)
      background-size: contain

    &.active
      background-color: white
      color: $colorHeaderDarkGray

      &::before
        content: ''

      &.search::after
        background-image: url('/images/custom/xingumais/icons/icon-search.png')

      &.alert::after
        background-image: url('/images/custom/xingumais/icons/alert.png')

      &.follow::after
        background-image: url('/images/custom/xingumais/icons/follow.png')

      &.tools::after
        background-image: url('/images/custom/xingumais/icons/hex.png')

      &.print::after
        background-image: url('/images/custom/xingumais/icons/print.png')

      &.legend::after
        background-image: url('/images/custom/xingumais/icons/chat.png')

    &.search::after
      background-image: url('/images/custom/xingumais/icons/search-white.png')

    &.alert::after
      background-image: url('/images/custom/xingumais/icons/alert-white.png')

    &.follow::after
      background-image: url('/images/custom/xingumais/icons/follow-white.png')

    &.tools::after
      background-image: url('/images/custom/xingumais/icons/hex-white.png')

    &.print::after
      background-image: url('/images/custom/xingumais/icons/print-white.png')

    &.legend::after
      background-image: url('/images/custom/xingumais/icons/chat-white.png')

#mapPrintTitle
  margin: 0 auto
  font-size: 3rem
  color: $colorRed

#complaint-draw
  position: static
  display: block

  &::before
    content: none

#downloadMapButton
  text-decoration: none

// @media (max-width: 768px)
//   #mapToolsMenu
//     display: none !important