// Main variables
$screen-sm-min: 768px;

// Colors
//
// Color Variables
//
// Styleguide 2.0

// Highlight Colors
//
// $maincolor - b81d00;
// $altcolor - 7a1300;
// $bgcolor - df5800;
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 2.1

$maincolor: #b81d00;
$altcolor: #7a1300;
$bgcolor: #df5800;

// Greys
//
// $grey-50 - fafafa;
// $grey-100 - f5f5f5;
// $grey-200 - eee;
// $grey-300 - e0e0e0;
// $grey-350 - ddd
// $grey-400 - bdbdbd;
// $grey-500 - 9e9e9e;
// $grey-600 - 757575;
// $grey-700 - 616161;
// $grey-800 - 424242;
// $grey-900 - 212121;
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 2.2

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-300: #e0e0e0;
$grey-350: #ddd;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

// Monochrome
//
// $black - #111;
// $white - #fff;
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 2.3

$black: #111;
$white: #fff;

// Radar Colors
//
// Colors used by radar and 'obra' pages to represent the alert level.<br />
// All colors have their <strong>opacity set to .2</strong> in SCSS rules.
//
// $rlow - 008000;
// $rmedium - ffd700;
// $high - df5800;
// $vhigh - b81d00;
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 2.4

$rlow: #008000;
$rmedium: #ffd700;
$high: #df5800;
$vhigh: #b81d00;

// Legend Colors
//
// Colors used on infrastrcuture map legends.<br />
//
// $ucf-fill - 67cdab;
// $ucf-border - 00734b;
// $uce-fill - 4be600;
// $uce-border - 267300;
// $ti-fill - add880;
// $ti-border - 267300;
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 2.5

$ucf-fill: #67cdab;
$ucf-border: #00734b;
$uce-fill: #4be600;
$uce-border: #267300;
$ti-fill: #add880;
$ti-border: #267300;
