/* The styledLayerControl CSS should be imported here, but gets weird when done son. */
/*@import '../../../../vendor/Leaflet.StyledLayerControl/css/styledLayerControl.css';*/

/**
 * Layer control.
 */
.leaflet-control-container .ac-container {
  width: 250px;
  /*max-height: 300px;*/
  max-height: 500px;
}

#leaflet-control-accordion-layers-desmatamento article {
  padding-right: 10px;
}

section.leaflet-control-layers-list {
  padding: 0;
}

section.leaflet-control-layers-list label.menu-label {
  margin: 0;
}

/**
 * Mobile menu support.
 */
.leaflet-control-layers {
  display: block;
}

.leaflet-control-layers.leaflet-control-layers-expanded {
  display: block;
}