<div v-bind:class="containerClass" aria-haspopup="true" v-cloak>
  <a v-bind:class="toggleClass" v-bind:title="$t('layers')" v-on:click="toggleControl"></a>
  <section v-bind:class="sectionClass">
    <form v-bind:id="formId">

      <div v-bind:class="icon" v-on:click="toggleControl">&nbsp;</div>
      <h3 class="legend-title"><span>{{ $t('layers') }}</span></h3>
      <i class="fa fa-window-close" v-on:click="toggleControl"></i>

      <!-- Base Layers -->
      <div class="leaflet-control-layers-base">
        <div v-bind:id="accordionId(groupShortName) + '-container'" v-for="(group, groupShortName) in base">
          <input v-bind:id="accordionId(groupShortName)" v-bind:name="accordionId(groupShortName)" class="menu" type="checkbox" v-model="group.expanded">
          <label v-bind:for="accordionId(groupShortName)" class="menu-label" v-if="options.localize == true || group.localize == true">{{ $t(group.groupName) }}</label>
          <label v-bind:for="accordionId(groupShortName)" class="menu-label" v-else>{{ group.groupName }}</label>

          <article class="ac-large">
            <div class="menu-item-radio" v-for="(layer, layerShortName) in group.layers">
              <input type="radio"
                     class="leaflet-control-layers-selector"
                     :key="change"
                     v-bind:name="'leaflet-' + group.groupShortName + '-layers'"
                     v-bind:id="layerId(layer)"
                     v-on:click="activateBaseLayer(groupShortName, layerShortName)"
                     v-bind:checked="states[layer.id]">
              <label v-bind:for="layerId(layer)" class="menu-layer">
                <span v-if="options.localize == true || group.localize == true">{{ $t(layer.description) }}</span>
                <span v-else>{{ layer.description }}</span>
              </label>
            </div>
          </article>
        </div>
      </div>

      <!-- Layers -->
      <div class="leaflet-control-layers-overlays">
        <div v-bind:id="accordionId(groupShortName) + '-container'" v-for="(group, groupShortName) in layers" v-if="group.layerControl != false">
          <input v-bind:id="accordionId(groupShortName)" v-bind:name="accordionId(groupShortName)" class="menu" type="checkbox" v-model="group.expanded">
          <label v-bind:for="accordionId(groupShortName)" class="menu-label" v-if="options.localize == true || options.localize == true">{{ $t(group.groupName) }}</label>
          <label v-bind:for="accordionId(groupShortName)" class="menu-label" v-else>{{ group.groupName }}</label>

          <article class="ac-large">
            <input type="checkbox"
                   class="leaflet-control-layers-selector"
                   v-if="group.slider"
                   v-bind:name="'leaflet-' + groupShortName + '-layers'"
                   v-bind:id="sliderId(groupShortName)">
            <div class="menu-item-checkbox" v-else v-for="(layer, layerShortName) in group.layers">
              <input type="checkbox"
                     class="leaflet-control-layers-selector"
                     :key="change"
                     v-bind:name="'leaflet-' + groupShortName + '-layers'"
                     v-bind:id="layerId(layer)"
                     v-on:click="toggleLayer(groupShortName, layerShortName)"
                     v-bind:checked="states[layer.id]">
              <label v-bind:for="layerId(layer)" class="menu-layer">
                <span v-if="options.localize == true || options.localize == true">{{ $t(layer.description) }}</span>
                <span v-else>{{ layer.description }}</span>
              </label>
            </div>

            <!--
              <div v-if="group.slider && group.slider.type == 'single'">
              <i class="fa fa-step-backward" v-on:click="sliderPrev(groupShortName)"></i>
              <i class="fa fa-play"          v-on:click="sliderPlay(groupShortName)"></i>
              <i class="fa fa-pause"         v-on:click="sliderPause(groupShortName)"></i>
              <i class="fa fa-step-forward"  v-on:click="sliderNext(groupShortName)"></i>
              </div>
            -->
          </article>
        </div>
      </div>

    </form>
  </section>
</div>
