/**
 * CSS thanks to https://github.com/davicustodio/Leaflet.StyledLayerControl which
 * is licensed under a Creative Commons Attribution 3.0 Unported License:
 * http://creativecommons.org/licenses/by/3.0
 *
 * Includes changes from https://gitlab.com/socioambiental/Leaflet.StyledLayerControl
 */

/* Layer groups control container */
.ac-container {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  width: auto;
  margin: 0;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}

/* Layer group labels */
.ac-container input + label.menu-label {
  padding: 5px 5px 5px 6px;
  position: relative;
  z-index: 20;
  display: block;
  height: 20px;
  cursor: pointer;
  color: #fff;
  line-height: 19px;
  font-size: 14px;
  font-weight: 300;
  background: #616161;
  box-sizing: content-box;
}

.ac-container input + label.menu-label:hover {
  background: #616161;
}

.ac-container input:checked + label.menu-label,
.ac-container input:checked + label.menu-label:hover {
  background: #B81D00;
  color: #fff;
  box-shadow:
    0px 0px 0px 1px rgba(155,155,155,0.3),
    0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container .leaflet-control-layers-base input + label.menu-label:before,
.ac-container .leaflet-control-layers-overlays input + label.menu-label:before {
  font-family: FontAwesome;
  padding-right: 5px;
}

/*
.ac-container .leaflet-control-layers-base input + label.menu-label:before {
  content: '\f278';
}
*/

.ac-container .leaflet-control-layers-overlays input + label.menu-label:before {
  content: '\f041';
}

.ac-container input:checked + label.menu-label:hover:after {
  font-family: FontAwesome;
  content: '\f077';
  position: absolute;
  right: 6px;
  top: 5px;
  background-image: none;
}

.ac-container input + label.menu-label:hover:after,
.ac-container input:checked + label.menu-label:hover:after {
  font-family: FontAwesome;
  content: '\f078';
  position: absolute;
  right: 5px;
  top: 5px;
  background-image: none;
}

.ac-container input:checked + label.menu-label:hover:after {
  content: '\f077';
  background-image: none;
}

.ac-container input {
  display: none;
}

/* Layers labels */
.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input.menu:checked ~ article.ac-large {
  height: auto;
  /*max-height: 100px;*/
  padding: 3px 0;
  overflow-y: auto;
}

.ac-container article input + label {
  position: relative;
  z-index: 20;
  display: block;
  height: 20px;
  cursor: pointer;
  color: #111;
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
  box-sizing: content-box;
  outline: none;
}

.ac-container article input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

/* Tiles toggles */
.ac-container .leaflet-control-layers-base article input + label:before {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  font-family: FontAwesome;
  font-size: 27px;
  color: #f1f1f1;
  border-radius: 0px;
  padding-right: 5px;
  content: '\f096';
}

.ac-container .leaflet-control-layers-base article input:checked + label:before {
  color: #B81D00;
  content: '\f046';
  transition: background 0.2s;
}

.ac-container .leaflet-control-layers-base article input + label:hover:before {
  content: '\f046';
}

.ac-container .leaflet-control-layers-base article input + label span {
  position: relative;
  left: 30px;
}

/* Layers toggles */
.ac-container .leaflet-control-layers-overlays article input + label:before,
.ac-container .leaflet-control-layers-overlays article input + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

.ac-container .leaflet-control-layers-overlays article input + label:before {
  right: 1px;
  width: 30px;
  background-color: #f1f1f1;
  border-radius: 10px;
  transition: background 0.2s;
}

.ac-container .leaflet-control-layers-overlays article input + label:after {
  width: 18px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  transition: margin 0.2s;
}

.ac-container .leaflet-control-layers-overlays article input:checked + label:before {
  background-color: #B81D00;
}

.ac-container .leaflet-control-layers-overlays article input:checked + label:after {
  margin-left: 13px;
}

.ac-container .leaflet-control-layers-overlays article input + label span {
  position: relative;
  left: 35px;
}

/* General styles */
.menu-item-radio,
.menu-item-checkbox {
  font-size: 13px;
  padding: 5px;
}

.bt_delete{
  position: relative;
  float: right;
  background-image: url(../../images/misc/delete.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

/* Layer control panel */
.leaflet-control-layers:hover {
  background: #fff;
}

.leaflet-control-layers-expanded {
  padding: 0;
}

.ionslider-hidden {
  display: none;
  visibility: hidden;
}

.styled-layer-icon {
  background-image: url('https://unpkg.com/leaflet@1.2.0/dist/images/layers.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  float: left;
}

.leaflet-control-layers .legend-title {
  float: left;
  margin-left: 5px;
  /*margin-right: 45%;*/
  margin-right: 110px;
  margin-top: 8px;
}

.leaflet-control-layers .fa-window-close {
  padding-bottom: 12px;
  margin-top: 10px;
  font-size: 16px;
}
