<div class="container-fluid" id="footer">
  <div class="container">
    <iframe v-bind:src="footerIframe" id="rodape" class="autosize"
            width="100%" height="400px" scrolling="no" frameborder="0"
            sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
  </div>
</div>
<script src="/dist/v2/js/footer.js"></script>
