    <meta charset="utf-8" />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!--#if expr='v("develop") = "true"'-->
    <meta http-equiv="pragma"  content="no-cache">
    <meta http-equiv="expires" content="-1">
    <!--#endif-->

    <title>Mapa Socioambiental - Brasil</title>

    <link rel="shortcut icon" href="/images/icons/isa.ico" type="image/vnd.microsoft.icon" />

    <!--#if expr='v("version") = ""'-->
      <!--#set var="version" value="2" -->
    <!--#endif-->

    <!--#include virtual="/templates/header/oembed.php"-->

    <!--#if expr='v("version") = "1"'-->
    <!--#include virtual="/templates/header/libraries.html"-->
    <!--#endif-->

    <!--#include virtual="/templates/header/analytics.html"-->
