    <!-- Our map element -->
    <div id="map" class="isamap isamap-fullsize"></div>

    <!--#include virtual="/templates/widgets.html" -->

    <!--#if expr='v("custom") != "true"'-->
    <script src="/dist/v<!--#echo var="version" -->/js/standalone.js"></script>
    <!--#endif-->
