<div v-bind:class="containerClass" v-cloak>
  <a v-bind:class="controlClass">
    <i v-bind:class="iconClass" v-on:click="toggleControl"></i>
  </a>
  <i class="fa fa-window-close" aria-hidden="true" v-on:click="toggleControl"></i>

  <h3 v-bind:class="titleClass"><span>{{ $t('legend') }}</span></h3>

  <div class="legend-block" v-for="item in items">
    <div class="legend-row" v-if="item.legend.length == 1">
      <span v-bind:class="item.legend[0].class != undefined ? item.legend[0].class : 'symbol'" v-bind:style="item.legend[0].style" v-if="options.localize == true" v-html="$t(item.legend[0].html)">
      </span>

      <span v-bind:class="item.legend[0].class != undefined ? item.legend[0].class : 'symbol'" v-bind:style="item.legend[0].style" v-else v-html="item.legend[0].html"></span>

      <label v-if="item.legend[0].label == undefined || item.legend[0].label == null">
        <span v-if="options.localize == true">{{ $t(item.name) }}</span>
        <span v-else>{{ item.name }}</span>
      </label>
      <label v-else>
        <span v-if="options.localize == true">{{ $t(item.legend[0].label, item.legend[0].args) }}</span>
        <span v-else>{{ item.legend[0].label }}</span>
        </span>
      </label>
    </div>

    <div class="legend-row" v-if="item.legend.length != 1">
      <h4 v-bind:class="options.collapsedOnInit == true ? 'closed' : ''" v-on:click="toggleItem">
        <div class="legend-caret"></div>
        <span v-if="options.localize == true">{{ $t(item.name) }}</span>
        <span v-else>{{ item.name }}</span>
      </h4>

      <div v-bind:class="options.collapsedOnInit == true ? 'legend-elements closed' : 'legend-elements'">
        <div class="legend-row" v-for="subitem in item.legend">
          <span v-bind:class="subitem.class != undefined ? subitem.class : 'symbol'" v-bind:style="subitem.style" v-html="subitem.html"></span>
          <label v-if="options.localize == true">{{ $t(subitem.label, subitem.args) }}</label>
          <label v-else>{{ subitem.label}}</label>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
