<div v-bind:id="id" class="leaflet-control leaflet-locale-template-control" v-cloak>
  <select v-model="locale" class="form-control locale">
    <option value="en"   >English</option>
    <option value="es"   >Español</option>
    <option value="pt-br">Português</option>
  </select>
</div>
