<div class="mobile-menu">
  <ul class="mobile-menu__list">
    <li class="mobile-menu__list-item">
      <button type="button" class="mobile-menu__button" @click="toggleControls('box-layers')" :class="{ 'mobile-menu__button--active':  controls['box-layers'] }">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"/>
        </svg>
        <span>Camadas</span>
      </button>
    </li>
    <li class="mobile-menu__list-item">
      <button type="button" class="mobile-menu__button" @click="toggleControls('box-complaint')" :class="{ 'mobile-menu__button--active':  controls['box-complaint'] }">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path d="M11 5L6 9H2v6h4l5 4V5zM19 5a10 10 0 010 14M15.6 8.6a5 5 0 010 7"/>
        </svg>
        <span>Alerte</span>
      </button>
    </li>
    <li class="mobile-menu__list-item">
      <button type="button" class="mobile-menu__button" @click="toggleControls('box-alert')" :class="{ 'mobile-menu__button--active':  controls['box-alert'] }">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="2"/><path d="M16.2 7.8a6 6 0 010 8.4m-8.4 0a6 6 0 010-8.5M19 5a10 10 0 010 14.2M4.9 19A10 10 0 015 4.9"/>
        </svg>
        <span>Acompanhe</span>
      </button>
    </li>
    <li class="mobile-menu__list-item">
      <button type="button" class="mobile-menu__button" @click="toggleControls('box-tools')" :class="{ 'mobile-menu__button--active':  controls['box-tools'] }">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
          <path d="M4 21v-7M4 10V3M12 21v-9M12 8V3M20 21v-5M20 12V3M1 14h6M9 8h6M17 16h6"/>
        </svg>
        <span>Ferramentas</span>
      </button>
      <div class="subTools-mobile" :class="{ active: controls['box-tools'] }">
        <div class="mapSearch">Pesquisar</div>
        <ul id="mapDraw">
          <li id="polyline">
            <span>Linha</span>
            <div class="drawButtonsSubActions active"></div>
          </li>
          <li id="circle">
            <span>Círculo</span>
            <div class="drawButtonsSubActions"></div>
          </li>
          <li id="polygon">
            <span>Polígono</span>
            <div class="drawButtonsSubActions"></div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
