<div v-bind:class="containerClass" v-cloak>
  <a v-bind:class="controlClass">
    <i v-bind:class="iconClass" v-on:click="toggleControl"></i>
  </a>
  <i class="fa fa-window-close" aria-hidden="true" v-on:click="toggleControl"></i>

  <h3 v-bind:class="titleClass"><span>{{ $t('share') }}</span></h3>

  <div class="share">
    <a class="twitter-share-button" data-size="small" target="_blank" v-bind:href="twitterShareHref"></a>
    <div class="fb-like" v-bind:id="fbLikeId" v-bind:data-href="url" data-layout="button" data-action="like" data-share="true"></div>
  </div>

  <h3>{{ $t('embed_url') }}:</h3>
  <textarea class="" v-bind:id="embedUrlTextareaId" rows="1">{{ url }}</textarea>
  <button class="isamap-embed-control-clipboard fa fa-clipboard" aria-hidden="true" v-bind:data-clipboard-target="embedUrlTextareaTarget"></button>
  <a class="isamap-embed-control-link" id="embedUrlLinkId" target="_blank" v-bind:href="url"><i class="fa fa-external-link"></i></a>

  <h3>{{ $t('embed_code') }}:</h3>
  <textarea class="" v-bind:id="embedCodeTextareaId" rows="1">{{ code }}</textarea>
  <button class="isamap-embed-control-clipboard fa fa-clipboard" aria-hidden="true" v-bind:data-clipboard-target="embedCodeTextareaTarget"></button>
</div>
